## Introduction

This data comes from FiveThirtyEight using their RAPTOR Metric. No, this isn't just for the Toronto Raptors. It's a metric they created to better reflects the style of the modern NBA and the performance of its players. It standard for Robust Algorithm (using) Player Tracking (and) On/Off Ratings. It also has WAR (Wins Above Replacement Data). That's more up my ally as a baseball fan.
\
\
Full Info:
\
https://fivethirtyeight.com/features/introducing-raptor-our-new-metric-for-the-modern-nba/

## Questions
- Who is the best player since 1974 (when the data starts)?
- What is the best single season of all time (defensive, offensive, total)
- What young player is on the path to be one of the all-time greats?

## 1.0 Imports

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 2.0 Load Data

In [3]:
nba = pd.read_csv('nba-raptor/historical_RAPTOR_by_player.csv')

In [4]:
nba.head()

,player_name,player_id,season,poss,mp,raptor_offense,raptor_defense,raptor_total,war_total,war_reg_season,war_playoffs,predator_offense,predator_defense,predator_total,pace_impact
0,Alaa Abdelnaby,abdelal01,1991,640,303,-3.938450,-0.510076,-4.448526,-0.265191,-0.226163,-0.039028,-3.905732,-1.696796,-5.602528,0.199241
1,Alaa Abdelnaby,abdelal01,1992,1998,959,-2.553849,-0.197943,-2.751792,-0.006893,0.070322,-0.077215,-2.499576,-0.721876,-3.221452,0.485436
2,Alaa Abdelnaby,abdelal01,1993,2754,1379,-2.373736,-2.069808,-4.443544,-1.227189,-0.845272,-0.381918,-2.328144,-2.002263,-4.330407,0.488266
3,Alaa Abdelnaby,abdelal01,1994,320,159,-6.140056,-2.748312,-8.888368,-0.500600,-0.500600,0.000000,-5.820936,-3.526560,-9.347496,0.511152
4,Alaa Abdelnaby,abdelal01,1995,984,506,-3.846543,-1.268012,-5.114556,-0.615802,-0.615802,0.000000,-3.715429,-1.027024,-4.742453,1.545922

In [6]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19159 entries, 0 to 19158
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   player_name       19159 non-null  object
 1   player_id         19159 non-null  object
 2   season            19159 non-null  int64
 3   poss              19159 non-null  int64
 4   mp                19159 non-null  int64
 5   raptor_offense    19159 non-null  float64
 6   raptor_defense    19159 non-null  float64
 7   raptor_total      19159 non-null  float64
 8   war_total         19159 non-null  float64
 9   war_reg_season    19159 non-null  float64
 10  war_playoffs      19159 non-null  float64
 11  predator_offense  19159 non-null  float64
 12  predator_defense  19159 non-null  float64
 13  predator_total    19159 non-null  float64
 14  pace_impact       19158 non-null  float64
dtypes: float64(10), int64(3), object(2)
memory usage: 2.2+ MB

In [7]:
nba.describe()

,season,poss,mp,raptor_offense,raptor_defense,raptor_total,war_total,war_reg_season,war_playoffs,predator_offense,predator_defense,predator_total,pace_impact
count,19159.000000,19159.000000,19159.000000,19159.000000,19159.000000,19159.000000,19159.000000,19159.000000,19159.000000,19159.000000,19159.000000,19159.000000,19158.000000
mean,2001.911686,2753.459836,1363.018477,-1.282572,-0.336641,-1.619213,1.980890,1.791916,0.188974,-1.285501,-0.533616,-1.819117,0.196519
std,12.991213,2032.700765,1003.793897,3.502971,2.467030,4.525422,3.458863,3.074403,0.589576,3.218998,2.305877,4.435724,0.827142
min,1977.000000,1.000000,0.000000,-82.192072,-56.982520,-103.084801,-7.382978,-7.382978,-1.376520,-71.510086,-37.871745,-101.442650,-7.191955
25%,1991.000000,883.000000,440.000000,-2.828729,-1.412329,-3.574572,-0.114100,-0.114928,0.000000,-2.860883,-1.631094,-3.989563,-0.241770
50%,2003.000000,2549.000000,1262.000000,-1.112462,-0.406899,-1.365128,0.586046,0.556030,0.000000,-1.191378,-0.532853,-1.628693,0.093278
75%,2013.000000,4345.500000,2144.500000,0.547465,0.707465,0.747604,3.106047,2.901287,0.072959,0.468142,0.628289,0.691144,0.517431
max,2022.000000,9271.000000,4270.000000,53.228864,62.469205,72.622361,28.762877,24.355978,7.006934,42.890281,42.989063,49.106166,23.732063